@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-background: #4B3621;
  --color-foreground: #f0f2f5;

  --color-primary:#F5F1E9;;
  --color-primary-foreground: #000000;

  --color-secondary: #C19A6B;
  --color-secondary-foreground: #ffffff;
}

@layer base {
  body {
  font-family: "Poppins";
}
}


@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-background) 60%, transparent);
    backdrop-filter: blur(5px);
    border: 1px solid color-mix(in srgb, var(--color-border) 80%, transparent);
  }
  .glass-strong {
    background-color: color-mix(in srgb, var(--color-background) 80%, transparent);
    backdrop-filter: blur(5px);
    border: 1px solid color-mix(in srgb, var(--color-border) 80%, transparent);
  }
  .glow-text {
    text-shadow: 0 0 30px
      color-mix(in srgb, var(--color-primary) 50%, transparent);
  }
  .glow-border {
    box-shadow: 0 0 30px
        color-mix(in srgb, var(--color-primary) 20%, transparent),
      inset 0 0 20px color-mix(in srgb, var(--color-primary) 5%, transparent);
  }
}
